* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
:root {
  --color-131921: #131921;
  --color-212529: #212529;
  --color-3b4149: #3b4149;
  --color-ffffff: #ffffff;
  --color-e2e2e2: #e2e2e2;
  --color-a3a2a2: #a3a2a2;
  --color-8d8d8d: #8d8d8d;
}
a {
  text-decoration: none;
  display: inline-block;
}
/* .d-flex {
  display: flex;
} */
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}
.text-white {
  color: var(--color-ffffff);
}

/* Header part */

.header-navbar {
  background-color: var(--color-ffffff);
  /* border-bottom: 5px solid var(--color-3b4149); */
}

.footer-bottom {
  background-color: var(--color-a3a2a2);
  border-top: 1px solid var(--color-3b4149);
}

.footer-details-section {
  background-color: var(--color-e2e2e2);
  border-top: 2px solid var(--color-3b4149);
}
.navbar-logo-txt {
  color: #ffff;
}
.navbar-logo img {
  width: 100%;
  height: 80px;
}

.input-group {
  align-items: center;
}
.menu-bottom .menu-links a {
  color: var(--color-ffffff);
}

.borderd-content {
  border: 1px solid var(--color-8d8d8d);
  border-radius: 4px;
  height: 90px;
  margin-top: 20px;
  position: relative;
}

.borderd-content .title {
  margin: -15px 0 0 10px;
  background: #f5f5f5;
  padding: 3px;
  display: inline-block;
  padding-inline: 10px;
  position: absolute;
}

.borderd-content .content {
  padding: 10px;
}
.next-btn {
  min-width: 200px;
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 20px;
}
.final-msg {
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  margin: 30px 0 15px;
  color: #0087cd;
}
.ant-card-head-title {
  font-size: calc(1.3rem + 0.6vw);
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  padding: 30px;
}
.ant-card {
  background-color: #f5f5f5;
}
.ant-input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.ant-select {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0rem 0rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ant-select-selector {
  height: 37px !important;
  border-radius: 0px !important;
}
.ant-btn {
  min-width: 200px;
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 20px;
  height: auto;
}
.ant-input-number{
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
